%ul.group-list
  - @groups.each do |group|
    = link_to group_messages_path(group) do
      %li.group-item
        .group-item__group-name
          = group.name
        .group-item__latest-message
          - unless group.messages.empty?
            - if group.messages.last.text.empty?
              画像が投稿されました。
            - else
              = group.messages.last.text
          - else
            まだメッセージはありません。