%ul.message-list
  %li.message-item
    .message-item__upper
      %p.message-item__upper__username
        John
      %p.message-item__upper__timestamp
        2019/05/18(Sat) 19:59:02
    .message-item__under
      youyou