.user-nav
  .user-nav__user-name
    John
  .user-nav__menu
    .user-nav__menu__new-group
      = link_to do
        = fa_icon "edit"
    .user-nav__menu__edit-account
      = link_to do
        = fa_icon "cog"