.wrapper
  .side
    .side-top
      = render 'group/user-nav'
    .side-bottom
      = render 'group/group-list'
  .main
    .main-top
      -# = render 'group/group-info'
    .main-center
      -# = render 'group/message-list'
    .main-bottom
      -# = render 'group/message-form'