.group-list{
  padding: 0 20px;
}

.group-item{
  padding: 20px 0;
  color: $white;
  font-weight: bold;

  &__group-name{
    font-size: 15px;
    padding-bottom: 5px;
  }

  &__latest-message{
    font-size: 11px;
  }
}