.group-info{
  padding: 0 40px;
  height: $top-height;
  border-bottom: 1px solid #eeeeee;

  .group-info__box{
    margin-top: 35px;
    float: left;

    .group-info__box__group-name{
      margin-bottom: 15px;
      color: #333333;
      font-size: 20px;
    }

    .group-info__box__members{
      color:#999999;
      font-size: 12px;
    }
  }

  .group-info__edit-button{
    height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    text-align: center;
    line-height: 40px;
    float: right;
    border: 1px solid $lightBlue;
    color: $lightBlue;
  }
}
