.group-info{
  padding: 0 40px;
  height: $top-height;
  border-bottom: 1px solid $Gallery;

  &__box{
    margin-top: 35px;
    float: left;

    &__group-name{
      margin-bottom: 15px;
      color: $MineShaft;
      font-size: 20px;
    }

    &__members{
      color:$DustyGray;
      font-size: 12px;
    }
  }
  a, a:visited {
    color : $PictonBlue;
    text-decoration: none;
  }

  &__edit-button{
    height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    text-align: center;
    line-height: 40px;
    float: right;
    border: 1px solid $PictonBlue;
    color: $PictonBlue;

  }
}
