@import "./variable";

*{
  box-sizing: border-box;
}

html, body ,.wrapper{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper{
  overflow: hidden;
}

.side{
  width: $side-width;
  height: 100vh;
  float: left;
}

.side-top{
  width: $side-width;
  height: $top-height;
  background: #ff3c0b;
}

.side-bottom{
  width: $side-width;
  height: calc(100vh - #{$top-height});
  background: #f87e2d;
  overflow-y: auto;
}

.main{
  width: $main-width;
  height: 100vh;
  float: right;
}

.main-top{
  width: $main-width;
  background: $white;
  height: $top-height;
}

.main-center{
  width: $main-width;
  height: $main-center-height;
  background: $Alabaster;
  overflow-y: auto;
}

.main-bottom{
  width: $main-width;
  height: $main-bottom-height;
  background: $Alto;
  position:fixed;
  bottom: 0;
  right: 0;
}