.message-list{
  padding: 46px 40px;
}

.message-item{
  &__upper{
    padding-bottom: 10px;

    &__username{
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      color: $Mako;
    }

    &__timestamp{
      display: inline-block;
      color: $DustyGray;
      font-size: 12px;
      margin-left: 10px;
      font-weight: normal;
      vertical-align: top;
    }
  }

  &__under{
    padding-bottom: 40px;
    font-size:14px;
    color: $Mako;

    &__image{
      max-width: 400px;
      max-height: 400px;
    }
  }
}

