.message-form{
  padding: 20px 40px;

  &__submit{
    display:block;
    width: $message-form__submit__width;
    height: 50px;
    padding: 0 30px;
    margin-left: $message-form__submit__margin;
    background-color: $PictonBlue;
    color:$white;
    float:right;
  }
}

.input-parts{
  background-color: $white;
  width: $input-parts__width;
  height:$input-parts__height;
  float:left;
  position: relative;
  &__text{
    padding: 0 40px 0 10px;
    width: 100%;
    border:none;
    height:50px;
  }

  &__image{
    position: absolute;
    right: 0px;
    top: $input-parts__image__top;
    padding: 0 10px;
    i{
      float: right;
      font-size: $input-parts__image_font-size;
    }
    input{
      display:none;
    }
  }
}