// size variables
$side-width: 300px;
$main-width: calc(100vw - #{$side-width});

$top-height: 100px;


// color variables
$white: white;
$Alabaster: #fafafa;
$Gallery: #eeeeee;
$Alto: #DDDDDD;
$DustyGray: #999999;
$Mako: #434A54;
$PictonBlue: #38AEF0;
$MineShaft: #333333;
$PickledBluewood: #2f3e51;
$EbonyClay: #253141;
